{% extends 'base.html'%}


{% block content %}

<div class="row">

  <div class="col-lg-2">
    {% block left_arm %}

    {% endblock %}
  </div>

  <div class="col-lg-7">
    {% block middle_arm %}

    {% endblock %}
  </div>

  <div class="col-lg-3">
    {% block right_arm %}

    {% endblock %}
  </div>

</div>

{% endblock %}
