{% extends 'questions/question_base.html' %}
{% load static %}
{% load bootstrap5%}

{% block middle_arm %}

<h4>Expole your query!</h4>
<form id="postFrom" action="{% url 'questions:question_create' %}" method="POST">
  {%csrf_token%}
  {% bootstrap_form form %}
  {% buttons %}
        <button type="submit" class="btn btn-primary">Ask</button>
        <a class='btn btn-primary' href="{% url 'questions:question_list' %}"> Cancel</a>
  {% endbuttons %}
</form>

{% endblock %}
