{% extends 'questions/question_base.html' %}
{% load my_extras %}

{% block left_arm %}
<h4>Create a Question</h4>
<a class="btn btn-outline-primary btn-sm" href="{% url 'questions:question_create'%}" role="button">Create</a>

{% endblock %}



{% block middle_arm %}

  {% for question in question_list %}
    <div class="list-group">
      <a href="{% url 'questions:question_detail' pk=question.pk %}" class="list-group-item list-group-item-action" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{question.question}}</h5>
          <!-- <small>3 days ago</small> -->
          <small>{{question.create_date|post_duration}} days ago</small>
        </div>
        <p class="mb-1">{{question.url}}</p>
        <small>And some small print.</small>
      </a>
    </div>

  {% endfor %}

{% endblock %}


{% block right_arm %}
<h4>Categories List</h4>
  <button class="btn btn-outline-secondary btn-sm float-sm-start" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
    Find</button>

  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 id="offcanvasRightLabel">Most popular categories</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="list-group">
        <a href="#" style='text-decoration: none;'> <li class="list-group-item">An active item</li> </a>
        <a href="#" style='text-decoration: none;'> <li class="list-group-item">A second item</li> </a>
        <a href="#" style='text-decoration: none;'> <li class="list-group-item">A third item</li> </a>
        <a href="#" style='text-decoration: none;'> <li class="list-group-item">A fourth item</li> </a>
        <a href="#" style='text-decoration: none;'> <li class="list-group-item">And a fifth one</li> </a>
      </ul>
    </div>
  </div>
{% endblock %}
