{% extends 'groups/group_base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block left_arm %}
    <div class="">

      <h2><span> {{ group.name }} </span> &nbsp&nbsp
        <span><a class="btn btn-outline-primary btn-sm" href="{% url 'groups:leave' slug=group.slug %}" role="button">Leave</a> </span></h2>

        <div class="">
          <small><span> Owner: {{group.owner}} </span> &nbsp&nbsp&nbsp&nbsp
          <span> Members: {{group.member.count}} </span></small>
        </div>

        <div class="">

          <figure>
            <blockquote class="blockquote">
              <p>{{ group.description_html|safe }}</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              Owner
            </figcaption>
          </figure>

        </div>
    </div>


{% endblock %}

{% block middle_arm %}
  <div class="mb-3">
    <form class="" method="POST"> {% csrf_token %}
      <label for="exampleFormControlTextarea1" class="form-label"> <h2> Explore </h2> </label>
      {{ group.group_user_post.question.question}}
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      <input style="margin-top:10px;" type="button" class='btn btn-primary' name="" value="Post">

    </form>
  </div>


  <h3>Recently Posts</h3>

  {% for post in group.group_post.all %}
    <p class="lead"> {{post.question.question}} </p>
    <p class="lead"> {{post.question.url}} </p>
  {% endfor %}


{% endblock %}
