{% extends 'groups/group_base.html' %}
{% load static %}

{% block left_arm %}
<h3>Create your own Group</h3>
<a class="btn btn-outline-primary btn-sm" href="{% url 'groups:group_create' %}" role="button">Create</a>


{% endblock %}


{% block middle_arm %}

  <h2>All Groups!</h2>
  {% for group in group_list %}
  <div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header group_head" > <!-- id="flush-headingOne" -->
      <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        {{group.name}}
      </button>
    </h2>

    <!-- Group Body -->
    <!-- id="flush-collapseOne" -->
    <div class="accordion-collapse collapse group_body" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        {{ group.description }}<br><br>

        <div class="btn-group d-grid gap-2 d-md-block">
          <a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-outline-primary btn-sm" >Join</a>
          <a href="{% url 'groups:single' slug=group.slug %}" class="btn btn-outline-primary btn-sm">More!</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock%}
