{% extends 'base.html'%}
{% load static %}
{% load bootstrap5 %}

{% block css_link %}
<link rel="stylesheet" href="{% static 'groups/css/master.css' %}">
{% endblock%}


{% block content %}

<div class="row">
  <div class="col-lg-2">
    {% block left_arm%}
    {% endblock%}
  </div>

  <div class="col-lg-8">
    {% block middle_arm %}
    {% endblock %}
  </div>

  <div class="col-lg-2">
    {% block right_arm %}
    {% endblock %}
  </div>

</div>

<script type="text/javascript" src="{% static 'groups/js/groupstyle.js' %}">

</script>
{% endblock%}
