{% extends 'groups/group_base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block middle_arm %}
  <h3> Create a new group! </h3>

  <div class="">
      <form id="groupForm" action="{% url 'groups:group_create'%}" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
              <button type="submit" class="btn btn-primary">Create</button>
        {% endbuttons %}
      </form>
  </div>

{% endblock %}
