/*
.collapse_head {
  background-color: #F0F8FF;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  height:150px;
  border: 4px solid white;
  text-align: left;
  outline: none;
  font-size: 15px;
} */

/* .active, .group_collapse:hover {
  background-color: #F0FFFF;
} */

.group_body {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/* .img_sign{
  height:60px;
  width:60px;
  background-color: #F0F8FF;
  position:relative;
} */
