<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'questions:question_list' %}"> <span style="font-family: 'Pacifico', cursive; color:#ffb01f;">E </span> <span style="font-family: 'Pacifico', cursive;font-family: 'Padauk', sans-serif;">xplore</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link " href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'questions:question_list' %}">Question</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'groups:group_list' %}">Group</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'accounts:logout' %}">Logout</a>
        </li>

        {% else %}
        <li class="nav-item">
          <a class="nav-link " href="{% url 'accounts:login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'accounts:signup' %}">Sign Up</a>
        </li>
        <!--
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="false">Group</a>
        </li>
          -->
        {% endif %}
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
